
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#first, #fixed {
	position: absolute;
  	width: 100%;
  	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F0E68C;
	color: #FFFFE0;
	padding: 10px;
}

  #map {
    height: 50%%;
    width: 50%%;
  }